.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 66px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 48px;
  padding-bottom: 48px;

  @include respond(md) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
