.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;

  @include respond(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(sm) {
    grid-template-columns: 1fr;
  }
}

.intersection {
  width: 100%;
  height: 1px;
}

.spinner {
  margin-top: 42px;
  align-self: center;
}
